.button-container {
    margin: 20px 0px;
}

.btn {
    padding: 5px 15px;
    margin: 10px;
    text-decoration: none;
    transform: skew(-20deg);
}

span {
    display: inline-block;
    transform: skew(20deg);
}

.heading {
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50;
}
