.register-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    background-color: #29228A;
    padding: 30px;
    border-radius: 20px;
}
.basic-card{
    width: 70%;
}

.alert {
    width: 75% !important;
    margin-top: 20px;
    transition: opacity 1s ease;
}
.register-user form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.buttons{
    display: flex;
    justify-content: center;
}
.btn{
    margin: 0px 7px;
}

input {
    background-color: transparent !important;
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    color: white !important;
}

.form-control:focus {
    outline: none;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 195, 255, 0.5);
}

.form-control::placeholder {
    color: darkgray;
}
.progress{
    width: 80%;
}