html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(132,0,255,1) 100%);
}

.container {
    height: 100%;
}

main{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 38%, rgba(132,0,255,1) 100%);
    border: none;
    margin-bottom: 0px !important;
}

.container-fluid a {
    color: #d6d6d6 !important;
}

.enter-vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
