@model CarGarageParking.Models.ViewModel.IPaginationViewModel<CarGarageParking.Models.Garage>

@{
	ViewData["Title"] = "Garage";
}

<head>
	<link rel="stylesheet" href="~/css/GarageResult.css"/>
	<link rel="stylesheet" href="~/css/FilterDropdown.css"/>
</head>

<div class="filter">
	<div class="dropdown">
		<button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
			<i class="bi bi-filter text-white"></i>
		</button>
		<form asp-controller="Garage" asp-action="Index" method="get" class="dropdown-menu ">
			<div class="form-group">
				<input type="text" class="form-control mt-1" name="Name" id="Name" value="@Context.Request.Query["Name"]" placeholder="Enter Name" />
				<input type="text" class="form-control mt-1" name="Location" id="Location" value="@Context.Request.Query["Location"]" placeholder="Enter Location" />
				<input type="number" class="form-control mt-1" step="1" min="0" name="AvailableSpots" id="AvailableSpots" value="@Context.Request.Query["AvailableSpots"]" placeholder="How many spots you need?" />
			</div>

			<div class="buttons mt-3">
				<button type="submit" class="btn btn-primary">Search</button>
				<a href="@Url.Action("Index", "Garage")" class="btn btn-secondary">Clear</a>
			</div>
		</form>
	</div>
	<h4 class="text-white ms-2"><strong>Click here to filter garages </strong></h4>
</div>


<div class="garage-list">
	@foreach (Garage garage in Model.Colection)
	{
		@await Html.PartialAsync("_GarageHalfCard", garage, new ViewDataDictionary(ViewData) {{ "ShowLinkGarage", true }})
	}
</div>


@await Html.PartialAsync("_PaginationViewIndex", Model)
