@model CarGarageParking.Models.Owner
@{
	ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

<h1>@Model.FirstName @Model.LastName</h1>

<ul>
	@foreach(Vehicle vehicle in Model.Vehicles){
		<li>@vehicle.LicensePlate</li>
		<li>@vehicle.Owner</li>
	}
</ul>

