@model IEnumerable<CarGarageParking.Models.Owner>
@{
	ViewData["Title"] = "Owner page";
}

<form asp-controller="Owner" asp-action="Index" method="get">
	<label for="FirstName">First name: </label>
	<input type="text" name="FirstName" id="FirstName" value="@Context.Request.Query["FirstName"]" />

	<label for="LastName">Last name: </label>
	<input type="text" name="LastName" id="LastName" value="@Context.Request.Query["LastName"]" />
	
	<label for="numberOfCars">Number of cars: </label>
	<input type="number" step="1" min="0" name="numberOfCars" id="numberOfCars" value="@Context.Request.Query["numberOfCars"]" />
		
	<button type="submit" class="btn btn-primary">Search</button>
</form>

<h1>Collection of owners</h1>

<div>
	@foreach(Owner owner in Model){
		@await Html.PartialAsync("_OwnerCard", owner);
	}
</div>

<style>
	.owner-card-look{
		border: 1px solid gray;
		border-radius: 15px;
		padding: 10px;
		margin: 10px;
		background-color: dodgerblue;
		color: white;
	}

	.owner-card-look a {
		color: yellow;
		text-align: center;
		text-decoration: none;
	}

	.owner-card-look a:hover {
		color: white;
		text-align: center;
	}
</style>