@model CarGarageParking.Models.ViewModel.IPaginationViewModel<CarGarageParking.Models.Owner>
@{
	ViewData["Title"] = "Owner page";
}


<head>
	<link rel="stylesheet" href="~/css/FilterDropdown.css" />
</head>

<div class="filter">
	<div class="dropdown">
		<button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
			<i class="bi bi-filter text-white"></i>
		</button>
		<form asp-controller="Owner" asp-action="Index" method="get" class="dropdown-menu ">
			<div class="form-group">
				<input type="text" class="form-control mt-1" name="FirstName" id="FirstName" value="@Context.Request.Query["FirstName"]" placeholder="Enter First Name" />
				<input type="text" class="form-control mt-1" name="LastName" id="LastName" value="@Context.Request.Query["LastName"]" placeholder="Enter Last Name" />
				<input type="number" class="form-control mt-1" step="1" min="0" name="numberOfCars" id="numberOfCars" value="@Context.Request.Query["numberOfCars"]" placeholder="Enter number of cars" />
			</div>

			<div class="buttons mt-3">
				<button type="submit" class="btn btn-primary">Search</button>
				<a href="@Url.Action("Index", "Owner")" class="btn btn-secondary">Clear</a>
			</div>
		</form>
	</div>
	<h4 class="text-white ms-2"><strong>Click here to filter owners </strong></h4>
</div>

<div class="owners-list">
	@foreach(var single in Model.arvm){
		@await Html.PartialAsync("_OwnerBasicCard", single, new ViewDataDictionary(ViewData) { { "ShowLink", true } })
	}
</div>

@await Html.PartialAsync("_PaginationViewOwner", Model)

<style>
	.owners-list{
		width: 50%;
	}
</style>