@model CarGarageParking.Models.Owner

@{
	ViewData["Title"] = $"{Model.FirstName} {Model.LastName}"; 
}

<div class="owner">
	<h2>Name: @Model.FirstName</h2>
	<h3>Last name: @Model.LastName</h3>
	<p>Number of cars: @Model.Vehicles.Count()</p>
	<a href="@Url.Action("Details", "Owner", new {id = Model.OwnerId})">More details about cars</a>
</div>

<style>
	.owner {
		border: 1px solid gray;
		border-radius: 15px;
		padding: 10px;
		margin: 10px;
		background-color: dodgerblue;
		color: white;
	}
	.owner a {
		color: yellow;
		text-align: center;
		text-decoration: none;
	}
	.owner a:hover {
		color: white;
		text-align: center;
	}
</style>
</style>