@model CarGarageParking.Models.Vehicle

<h3>Vehicle license plate @Model.LicensePlate</h3>

<style>
	h3{
		text-decoration: none;
		font-family: Arial, sans-serif;
		font-size: larger;
		text-transform: uppercase;
		background-color: darkgreen; 
	}
</style>