@{
	ViewData["Title"] = "Find a Garage";
}

<head>
	<link rel="stylesheet" href="~/css/EnterVehicle.css" />
</head>

<div class="find-garage">
	<h1><strong>Find a specific or local garage</strong></h1>

	<form asp-action="SearchAGarage" asp-controller="Home" method="get" class="form-search">
		<div class="form-group">
			<input type="text" id="search" name="search" class="form-control" placeholder="Enter a garage name or location" required />

			<div class="buttons">
				<button type="submit" class="btn btn-primary button">Search</button>
				<a href="@Url.Action("Index", "Home")" class="btn btn-secondary button2">Back</a>
			</div>
		</div>
	</form>
</div>

