@{
	ViewData["Title"] = "Find a Garage";
}

<h1>Find a specific or local garage</h1>

<form asp-action="SearchAGarage" asp-controller="Home" method="get" class="form-search">
	<div class="form-group">
		<label for="search" class="form-label">Enter a garage name or location</label>
		<input type="text" id="search" name="search" class="form-control" placeholder="Search" required />
	</div>

	<div class="buttons">
		<button type="submit" class="btn btn-primary">Search</button>
		<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Back</a>
	</div>
</form>

<style>
	h1{
		margin-top: 50px;
	}
	.form-search{
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 50%;
	}
	.form-group{
		margin-bottom: 15px;
		width: 70%;
	}
	input{
		background-color: transparent;
	}

</style>