@model CarGarageParking.Models.ViewModel.EnterVehicleModel

@{
	ViewData["Title"] = "Enter Vehicle Details";
}

<head>
	<link rel="stylesheet" href="~/css/EnterVehicleDetails.css"/>
	<script src="~/js/Time.js"></script>
</head>

<div class="enterVehicleDetails">
	<h5>Current time: <span id="currentTime"></span></h5>

	<div class="garage-info">
		@await Html.PartialAsync("_GarageHalfCard", Model.Garage, new ViewDataDictionary(ViewData) { { "ShowLink", false } })
	</div>

	<form asp-action="ConfirmVehicleEntry" asp-controller="Home" method="post">
		<input type="hidden" asp-for="GarageId" value="@Model.GarageId" />
		<div class="form-group">
			<input type="text" asp-for="LicensePlate" class="form-control" maxlength="12" placeholder="Enter License Plate" required />
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
		<a href="@Url.Action("Index", "Home")" class="btn btn-danger">Cancel</a>
	</form>

</div>

