<head>
    <link rel="stylesheet" href="~/css/GarageIntro.css" />
</head>

@{
    ViewData["Title"] = "Home Garage Page";
}

<div class="content">
    <div class="heading">
        <h1><strong>Car Garage parking</strong></h1>
        <h5>The place where you will always find free spot.</h5>
    </div>

    <div class="button-container">
        <a href="@Url.Action("EnterVehicle", "Home")" class="btn btn-primary btn-lg"><span><i class="bi bi-car-front-fill"></i> Enter Vehicle</span></a>
        <a href="@Url.Action("ExitVehicle", "Home")" class="btn btn-danger btn-lg"><span><i class="bi bi-box-arrow-left"></i> Exit Vehicle</span></a>
        <a href="@Url.Action("RegisterUser", "Home")" class="btn btn-success btn-lg"><span><i class="bi bi-person-fill"></i> Become a user</span></a>
    </div>

</div>


