@{
    ViewData["Title"] = "Home Garage Page";
}

<h1>Car Garage parking</h1>
<p>The place where you will always find free spot.</p>

<div class="button-container">
    <a href="@Url.Action("EnterVehicle", "Home")" class="btn btn-primary"><span>Enter Vehicle</span></a>
    <a href="@Url.Action("ExitVehicle", "Home")" class="btn btn-secondary"><span>Exit Vehicle</span></a>
    <a href="@Url.Action("RegisterUser", "Home")" class="btn btn-success"><span>Become a user</span></a>
</div>

<style>
    .button-container{
        margin: 50px auto;
    }

    .btn{
        padding: 5px 15px;
        margin: 10px;
        text-decoration: none;
        transform: skew(-20deg);
    }
    span{
        display: inline-block;
        transform: skew(20deg);
    }

    .btn-primary{

    }
</style>

