@model CarGarageParking.Models.Application

@{
	ViewData["Title"] = "Choose a number of cars";
}


<div class="register-user">
	<h1>Step 2 of 4: Select number of vehicles</h1>
	<form asp-action="SelectVehicleCount" asp-controller="Home" method="post">
		<div class="mb-3 form-group">
			<label for="numberOfVehicles" class="form-label">Number Of Vehicles</label>
			<input type="number" name="numberOfVehicles" class="form-control" step="1" min="1" max="10">
		</div>

		<button type="submit" class="btn btn-primary">Next</button>
		<button type="reset" class="btn btn-danger">Reset</button>
	</form>
	<a href="@Url.Action("Index", "Home")" class="btn btn-warning">Cancel all</a>
</div>